.header {
  background: #fff;
  height: 60px;
  display: flex;
  align-items: center;
  margin: 0 0 92px 0;

  .header__items {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;

    .header__left {
      display: flex;
      align-items: center;
      gap: 15px;
      img {
        cursor: pointer;
      }
    }
    .header__center {
      display: flex;
      align-items: center;
      gap: 14px;
      div {
        display: flex;
        align-items: center;
        gap: 15px;
        padding: 0 20px;
        border-radius: 50px;
        height: 43px;
        border: 2px solid #bdf0f4;
        box-shadow: 0px 4px 15px 0px rgba(213, 247, 250, 0.25);
        cursor: pointer;
      }
      .home {
        opacity: 0.5;
        border: 0.5px solid rgba(191, 187, 177, 0.2);
        img {
          filter: grayscale(100%);
        }
      }
      .my_chats {
        border: 0.5px solid rgba(191, 187, 177, 0.2);
      }
    }

    .header__right {
      display: flex;
      align-items: center;
      gap: 27px;
      .user_switcher {
        width: 282px;
        border-radius: 50px;
        height: 43px;
        display: flex;
        align-items: center;
        border: 0.5px solid rgba(191, 187, 177, 0.2);
        div {
          height: 43px;
          display: flex;
          align-items: center;
          justify-content: center;
          opacity: 0.5;
          width: 146px;
          cursor: pointer;
        }

        .active {
          border-radius: 50px;
          background-color: #eaf5fe;
          opacity: 1;
        }
        .active_yellow {
          border-radius: 50px;
          background-color: #fefdda;
          opacity: 1;
        }
      }
      .menu {
        display: flex;
        gap: 15px;
        img {
          cursor: pointer;
        }
      }
    }
  }
}

.header_active {
  box-shadow: 0px 4px 15px 0px #d5f7fa;
}
.header_active_yellow {
  box-shadow: 0px 4px 15px 0px #FFFED1;

}
