.footer {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  color: #b1b5bf;
  font-size: 10px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin: 262px 0 62px 0;
}
